{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>NeuroScan</title>
    <link rel="icon" href="{% static 'deprecated/cerebro.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script
      defer="defer"
      src="{% static 'js/chunk-vendors.b868b63b.js'%}"
    ></script>
    <script defer="defer" src="{% static 'js/app.61737227.js'%}"></script>
    <link
      href="{% static 'css/chunk-vendors.bd40d1d7.css'%}"
      rel="stylesheet"
    />
    <link href="{% static 'css/app.63179853.css'%}" rel="stylesheet" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
