body {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0b1a19;
  align-items: center;
}

.app-container {
  padding: 1%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: #ccc;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.head {
  padding: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-image: url(/static/wallpaper-neurology.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.card-content {
  padding: 10px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff; /* 👈 fundo branco */
  color: #000;
}

.upload-section label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.diagnose-btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.diagnose-btn:hover {
  background-color: #0056b3;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.result-content {
  margin-top: 15px;
  width: 90%;
}
.inf {
  display: flex;
  gap: 10px;
}
.inf p {
  flex: 1;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.values {
  text-align: center;
  align-items: center;
  display: flex;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.values div {
  text-align: center;
}
.status {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  flex: 1;
}
.image-preview {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid red;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 200px;
}

.alert-info {
  margin-top: 15px;
  width: 90%;
}
